<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm_offset-3">
      <h1><%= @cocktail.name %></h1>
      <%= cl_image_tag("agiwv7q6kputh6oluzrd", width: 400, height: 300, crop: :fill) %>
      <p>Ingredients:
        <% @cocktail.ingredients.each do |ingredient| %>
          <%=  ingredient.name %>
        <% end %>
      </p>
      <p>Dose:
        <% @cocktail.doses.each do |dose| %>
          <%= dose.description %>
        <% end %>
        <%= link_to 'New dose', new_cocktail_dose_path(@cocktail) %>
      </p>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>
        <%= f.input :description %>

        <%= f.input :ingredient_id, collection: Ingredient.all, prompt: "Select ingredient" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>

        <%= f.button :submit %>
      <% end %>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <%= link_to 'Back', cocktails_path %>
    </div>
  </div>
</div>
