<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Add new dose to <%= @cocktail.name %></h1>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>
        <%= f.input :description %>

        <%= f.input :ingredient_id, collection: Ingredient.all, prompt: "Select ingredient" %>


        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= link_to 'Back', cocktail_path(@cocktail) %>
  </div>
</div>
